body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}


footer {
  text-align: right;
  color: midnightblue;
}

.blueheader{
  color: rgb(60, 25, 148);
}


@media (max-width: 480px)
{

h1{
  padding-bottom: 40px;
  border-bottom: solid rgb(60, 25, 148) 3px;
  font-size: 3.5rem;
  text-align: center;
}

.card p{
  padding-bottom: 60px;
  text-align: justify;
}


.logo{
  width: 100px;
  text-align: left;
}

.card img{
  width: 100%;
  align-items: center;
}

}


@media (min-width: 481px){
  .right{
    float: right;
    width: 45%;
  }

  .left{
    float: left;
    width: 45%;
  }

  img{
    width:80%;
  }

  h1{
    padding-bottom: 50px;
    border-bottom: solid rgb(60, 25, 148) 3px;
    font-size: 5rem;
    text-align: center;
  }
  
  .card{
    padding-top: 50px;
    text-align: center;
  }

  p{
    text-align: justify;
  }

  .card h2, img{
    text-align: center;
    align-items: center;
  }


  .logo{
    width: 200px;
  }

}